

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .body{
            background-color: #8cc8ff;
            width: 70%;
            padding: 20px;
            min-height: fit-content;
        }
        td{
            width: 250px;
        }

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div class="body">
    <h1 class="h1">Поздравляем!!!</h1>
    <h2 class="h2">Вы зарегестрировались на сайте "Балтийский мёд"</h2>
    <table>
        <tbody>
        <tr>
            <td>
                <!--            ../avatars/2980.jpg-->
                <img width="150px" src="<%=  userAvatar%>">
            </td>
            <td>

                <strong >Ваши регистрационные данные</strong>
                <span >Логин: <%= userEmail%></span>
                <br>
                <span >Пароль: <%= userPassword%></span>
            </td>
        </tr>
        </tbody>
    </table>



    <!--    <span class="linkAvatar"><%=  userAvatar%></span>-->


</div>

</body>
</html>